.form-table-group{
    margin-bottom: 8px !important;
    margin-top: 8px !important;
}

th a {
    display: block;
}

th a:hover, th a:link, th a:visited{
    text-decoration: none;
    color: #337ab7;
}

th a:focus {
    outline: none;
    -moz-outline: none;
}

.delivered, .runout{
    background-color: #cccccc !important;
}

.modal-backdrop {
    bottom:0;
}

.form-horizontal .form-group .form-checkbox {
    padding-top: 6px;
}

.total, .search {
    font-size: 16px !important;
    margin-top: 6px;
}
.total .input-group {
    width: 40% !important;
}
.memo textarea {
    margin-bottom: 5px;
}